{% load static %}
{% block content %}

<footer class="white">
  <div id="pageLinks">
    <ul>
      <li><a href="#" class="upper white">About</a></li>
      <li><a href="#" class="upper white">Services</a></li>
      <li><a href="#" class="upper white">Corporate</a></li>
      <li><a href="#" class="upper white">Support</a></li>
      <li><a href="#" class="upper white">Your Account</a></li>
    </ul>
  </div>

  <div id="socialMedia">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-google-plus-g"></i>
  </div>
  <div id="copyright"> &copy; 2019 MERU. All rights Reserved</div>
  </div>
</footer>

{% endblock %}
