{% extends "base.html" %}

{% load static %}

{% load filters %}

{% block body_class %}template-homepage{% endblock %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load wagtailschemaorg_tags %}

{% block extra_css %}

{% endblock extra_css %}
{% block content %}
<div class="main-body">
  <div class="form-body">{% include 'booking_form.html'%}</div>
  <div class="outstation-route-container">
    {% image self.banner_image fill-900x400 as img %}
    <div class="location-banner" style="background-image:url('{{img.url}}'); background-size:cover;">
      <div id="bannerInfo" class="horizontal-container-even-space width-100percent">
        <div style="width:240px;" >{{self.banner_title|richtext}}</div>
      </div>
    </div>
    <div class="panel-header background-yellow black ">
      <div class="header horizontal-container-even-space width-100percent">
        <div>
          <h2>{{self.total_distance}} km</h2>
          <div>{{self.highway}}</div>
        </div>
        <div class="padding-top-10">
          {% include 'common/rating.html' with rating=self.road_condition_rating range='5' %}
          <div>Road Condition </div>
        </div>
      </div>
    </div>

    <div>
      <div id="filterPanel" class="hide">
      <div class="horizontal-container-even-space">
        <div>Choose type of trip(Optional)</div>
        <button id="selectAllButton" class="select-edit-button upper ">Select All</button>
        <button id="editButton" class="select-edit-button upper hide">Edit</button>
      </div>
      <div id="filterView" class="filter-view">
        <div id="placeFilter" class="tags-container">
          {% for tag in location_tags %}
            <button value='{{tag.id}}' class="tag-button-up" >{{tag.tag}}</button>
          {% endfor %}
        </div>
        <div id="tripTypeFilter" class="trip-type-container padding-top-bottom-30">
          {% for trip_type in trip_types %}
            <button value='{{trip_type.id}}' class="tripType-button-up">{{trip_type.trip_type}}</button>
          {% endfor %}
        </div>
      </div>
      </div>
      <div id="selectedFilterView"></div>
      <div class="show-route-button-container"><button id="routeMapButton" class="show-route-button upper">Customize my route map</button></div>
    </div>
    <div id="route">
      {% include 'map/map.html' with origin=self.origin destination=self.destination total_distance=self.total_distance %}
      <div style="width: 150px; margin:20px auto 70px auto;">
        <button class="upper mapshare-button" data-toggle="modal" data-target="#shareLinkModalPopup" ><i class="fa fa-share-alt">Share Map</i></button>
      </div>
      <div>
        {% include 'common/image_carousel.html' with images=self.origin.place_images.all id=self.origin.id %}
        <div class="block-container">
          <h6 class="upper bold padding-top-bottom-10">{{self.origin.name}}</h6>
          <div >{{ self.origin.details}} </div>
        </div>
      </div>
      <div>
        {% include 'common/image_carousel.html' with images=self.destination.place_images.all id=self.destination.id %}
        <div class="block-container">
          <h6 class="upper bold padding-top-bottom-10">{{self.destination.name}}</h6>
          <div>{{self.destination.details}} </div>
        </div>
      </div>
      <div>
        {% include 'fare_table/fare_table.html' with fares_table=fare_table total_distance=self.total_distance %}
      </div>
      {% if self.on_route_places.all|length > 0 %}
        <div class="panel-header background-gray dark-blue">
          <div class="width-100percent header"><h4 class="upper">Places to see on route</h4></div>
        </div>
        <div id="placesOnRoute">
          {% for place in self.on_route_places.all %}
            {% with place.place as tourist_place %}
              <div id="placeOnRoute-{{tourist_place.id}}" class="show">
                {% include 'route/place_detail.html' with place=tourist_place %}
              </div>
            {% endwith %}
          {% endfor %}
        </div>
      {% endif %}
      {% if self.destination_places.all|length > 0 %}
        <div class="panel-header background-gray dark-blue">
          <div class="width-100percent header"><h4 class="upper">Places to see in {{self.destination}}</h4>
          </div>
        </div>
        <div id="placesInDestination">
          {% for place in self.destination_places.all %}
            {% with place.place as tourist_place %}
              <div id="placeInDestination-{{tourist_place.id}}" class="show">
                {% include 'route/place_detail.html' with place=tourist_place %}
              </div>
            {% endwith %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
<!------------------->
    <div class="backgorund-light-gray">
      {% for information in self.route_information.all %}
        <div class="block-container">
          <div class="border-bottom">{{information.heading|richtext}}</div>
          <div class="padding-top-10">{{information.information}}</div>
        </div>
      {% endfor %}
    </div>

    <div id="socialMedia" class="horizontal-container-space-around social-media-container">
      <div>
        <span id="likes_count">{{self.total_likes}}</span>
        {% if user.is_authenticated %}
          <form id="like_button_form" class="inline-block">
            {% csrf_token %}
            <button id='like_button' type='submit' name='routepage_id' value="{{self.id}}" class="social-media-button"><i class="fa fa-thumbs-up"></i></button>
          </form>
        {% else %}
          <button id='like_login_button' class="social-media-button" data-toggle="modal" data-target="#loginModalPopup"><i class="fa fa-thumbs-up"></i></button>
        {% endif %}
      </div>
      <div>
        <span></span>
        <button class="social-media-button" data-toggle="modal" data-target="#shareLinkModalPopup" ><i class="fa fa-share-alt"></i></button>
      </div>
    </div>
    <div id="reviewPanel">
      <div class="panel-header backgorund-light-gray">
        <div class="header dark-blue">
          <h3 class="upper">Reviews</h3>
          <div id="reviews_count">{{self.total_reviews}}</div>
        </div>
      </div>
      <div class="review-content padding-top-bottom-30">
        <div id="reviewListPanel">
          <div id="reviewList">
            {% include 'reviews/review_list.html' with reviews=self.reviews_list  %}
          </div>
          <div class="review-button-container">
            {% if user.is_authenticated %}
              <button type="button" id="writeReviewButton" class="background-yellow review-button">Write a review</button>
            {% else %}
              <button type="button" id="writeReviewLogin" class="background-yellow review-button" data-toggle="modal" data-target="#loginModalPopup">Write a review</button>
            {% endif %}
          </div>
        </div>
        <div id="writeReviewPanel" class="block-container hide">
          {% include 'reviews/review.html' with route_id=self.id %}
        </div>
      </div>
    </div>
    {% include 'common/popular_routes.html' %}
  <!-- The Modal -->
    <div class="modal" id="loginModalPopup">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="google-login">
            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{request.path}}" class="fab fa-google ">
              <button type="button" name="button" class="btn google-btn">Continue with Google</button></a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="modal" id="shareLinkModalPopup">
    <div class="modal-dialog share-link-pop-up">
      <div class="modal-content">
        <div class="modal-body">
          <div data-network="twitter" class="st-custom-button twitter-share-button"></div>
          <div data-network="facebook" class="st-custom-button facebook-share-button"></div>
          <div data-network="whatsapp" class="st-custom-button whatsapp-share-button"></div>
          <div data-network="email" class="st-custom-button email-share-button"></div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var route = (function () {
      var route_Id = "{{self.id}}";
      var is_user_authenticated = "{{user.is_authenticated}}";

      return {
        routeId: function() {
          return route_Id;
        },
        isUserAuthenticated: function() {
          return is_user_authenticated;
        }
      }
    })();

    //console.log("routeId: "+route.routeId())
    function newPopup(url) {
	     popupWindow = window.open(
		     url,'popUpWindow','height=300,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes');
         var pollTimer=window.setInterval(function() {
                try {
                    console.log(popupWindow.document.URL);
                    if (popupWindow.document.URL.indexOf('http://localhost:8000/') != -1) {
                        window.clearInterval(pollTimer);
                        var url =   popupWindow.document.URL;
                        console.log("user: "+ "{{ user.username }}");
                        //acToken =   gup(url, 'access_token');
                        //tokenType = gup(url, 'token_type');
                        //expiresIn = gup(url, 'expires_in');
                        //popupWindow.close();

                        //validateToken(acToken);
                    }
                } catch(e) {
                  console.log("error" +e);
                }
            }, 100);
}

  </script>
  <!--script type="text/javascript" src="{% static 'js/html2canvas.js' %}"></script-->
  {% ld_for_object %}
  <script type="text/javascript" src="{% static 'js/outstationroute.js' %}" async></script>
  <script src="//platform-api.sharethis.com/js/sharethis.js#property=5cd5790482578900124cc422&product=inline-share-buttons" async></script>
  <script type="text/javascript">
    var shareMap = function(){
      $('#shareMapButton').on('click', function(e){
      //  alert("share map");
       var map = document.querySelector("#routeMap");
        hmtl2canvas(map, {
          onRendered:function(canvas){
            document.body.appendChild(canvas);
          },
          width:700,
          height:1000
        })
      })
    }

    shareMap();
    </script>
{% endblock%}
